<p>this is a campaign page</p>
<p>DM: {{user.username}}</p>
<p>Characters:</p>
{{#each characters as |character|}}
<a href="/profile/player/{{character.id}}">
    {{character.name}} the {{character.race}} {{character.class}}
</a>
{{/each}}
