<div>
    <p>this is a campaign page</p>
    <p>DM: {{user.username}}</p>
    <p>Characters:</p>
    {{#each characters as |character|}}
    <a href="/profile/player/{{character.id}}">
        {{character.name}} the {{character.race}} {{character.charclass}}
    </a>
    {{/each}}
    {{#unless is_dm}}

    <form>
        <button type="click" id="join-btn">Join With:</button>
        <select id="join-character">
            {{#each usercharacters as |usercharacter|}}
            <option value="{{usercharacter.id}}"> {{usercharacter.name}} the {{usercharacter.race}} {{usercharacter.charclass}}</option>
            {{/each}}
        </select>    
    </form>
    
    {{/unless}}

    <script src="/js/joincampaign.js"></script>
</div>