<div class="container box has-text-centered">
    <p class="is-size-2">{{name}} the {{race}} {{charclass}}</p>
    <p class="is-size-4">Belongs to {{user.username}}</p>
    <p class="is-size-4">Currently playing in: <a href="/profile/dm/{{campaign.id}}">{{campaign.name}}</a></p>
</div>